* {
  box-sizing: border-box;
}

body, html {
  @include mix-font-main;
  min-height: 100%;
  background-color: $color-background;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

input, button {
  @include mix-font-main;
  border: none;
}

button {
  padding: 0;
}
