/* COLOURS */

/* Logo colours – do not change */
$mix-oceanblue: rgb(66, 148, 209);
$mix-skyblue: rgb(61, 167, 215);
$mix-turquoise: rgb(60, 195, 219);

$mix-indigo: rgb(12, 13, 40);
$mix-grey: rgb(15, 54, 66);
$mix-white: rgb(221, 221, 221);
$mix-orange: rgb(229, 155, 43);

$color-background: $mix-grey;
$color-dark: $mix-indigo;
$color-light: $mix-white;
$color-accent-dark: $mix-oceanblue;
$color-accent-medium: $mix-skyblue;
$color-accent-light: $mix-turquoise;
$color-cta: $mix-orange;

/* FONTS */

@mixin mix-font-main {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $color-light;
}

/* MEASURES */

$mix-tiny-gap: 4px;
$mix-small-gap: 12px;
$mix-medium-gap: 24px;

$padding-tiny: $mix-tiny-gap;
$padding-small: $mix-small-gap;
$padding-standard: $mix-medium-gap;

$padding-input: $mix-tiny-gap * 2;

$margin-tiny: $mix-tiny-gap;
$margin-small: $mix-small-gap;
$margin-standard: $mix-medium-gap;
