/* COLOURS */

/* Logo colours – do not change */
$mix-oceanblue: rgb(66, 148, 209);
$mix-skyblue: rgb(61, 167, 215);
$mix-turquoise: rgb(60, 195, 219);

$mix-indigo: rgb(12, 13, 40);
$mix-grey: rgb(15, 54, 66);
$mix-white: rgb(221, 221, 221);
$mix-orange: rgb(229, 155, 43);

$color-background: $mix-grey;
$color-dark: $mix-indigo;
$color-light: $mix-white;
$color-accent-dark: $mix-oceanblue;
$color-accent-medium: $mix-skyblue;
$color-accent-light: $mix-turquoise;
$color-cta: $mix-orange;

/* FONTS */

@mixin mix-font-main {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $color-light;
}

/* MEASURES */

$mix-tiny-gap: 4px;
$mix-small-gap: 12px;
$mix-medium-gap: 24px;

// padding
$padding-tiny: $mix-tiny-gap;
$padding-small: $mix-small-gap;
$padding-standard: $mix-medium-gap;

// margin
$margin-tiny: $mix-tiny-gap;
$margin-small: $mix-small-gap;
$margin-standard: $mix-medium-gap;

// header
$header-height-small-screen: 138px;
$header-height-medium-screen: 90px;
$header-height-large-screen: 106px;

// input fields
$input-height: 42px;
$input-width: 420px;
$padding-input: $mix-tiny-gap * 2;

// buttons
$button-height: 60px;
$button-height-small: 40px;
$button-width: 100px;

// special elements
$bar-chart-height: 80px;
$bar-chart-width: $mix-small-gap;

$list-item-width: 630px;
$list-key-width: 80px;

$table-cell-width: 92px;

$footer-height: calc(2 * #{$mix-small-gap} + #{$mix-medium-gap});

/* FONT SIZES */

$font-tiny: 12px;
$font-standard: 16px;
$font-title-small: 22px;
$font-title-large: 32px;

/* Z INDEX */

$header-z: 20;
$popup-z: 30;

/* MEDIA QUERIES */

$medium: '(min-width: 526px)';
$large: '(min-width: 680px)';
$x-large: '(min-width: 1020px)';
$xx-large: '(min-width: 1370px)';
