.mix-app {
  min-height: 100vh;
  padding-top: calc(#{$header-height-small-screen} + #{$padding-tiny});
  padding-bottom: $padding-standard;
}

.mix-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height-small-screen;
  z-index: $header-z;
  padding: $padding-small;
  background-color: $color-background;
  box-shadow: 0 0 16px 0 $color-background;
}

.mix-header__title {
  font-size: $font-title-small;
}

.mix-header__fineprint {
  margin: $margin-tiny 0;
  font-size: $font-tiny;
}

@media #{$medium} {
  .mix-app {
    padding-top: calc(#{$header-height-medium-screen} + #{$padding-tiny});
  }

  .mix-header {
    height: $header-height-medium-screen;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mix-header__title {
    font-size: $font-title-large;
  }
}

@media #{$xx-large} {
  .mix-app {
    padding-top: calc(#{$header-height-large-screen} + #{$padding-tiny});
  }

  .mix-header {
    height: $header-height-large-screen;
    padding: $padding-standard;
  }
}
