.bar-chart {
  height: 200px;
  width: 320px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}

.bar-chart__item {
  margin-left: 10px;
  min-width: 20px;
  background-color: blue;
  border-bottom: 10px solid blue;
}

.bar-chart__item:first-child {
  margin-left: 0;
}
