.bar-chart {
  height: 140px;
  margin: $margin-tiny;
  display: flex;
  align-items: flex-end;
}

.bar-chart__title {
  margin: $margin-standard 0 $margin-small;
  font-weight: 300;
  font-size: 16px;
  color: $color-accent-light;
}

.bar-chart__legend {
  font-size: 12px;
  color: $color-accent-dark;
}

.bar-chart__item {
  margin-left: 10px;
  min-width: 20px;
  background-color: $color-accent-dark;
  border-bottom: 10px solid $color-accent-dark;
}

.bar-chart__item:first-child {
  margin-left: 0;
}
