.list__item {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 630px;
  padding: $padding-small;
}

.list__item:nth-child(odd) {
  background-color: $color-accent-dark;
}

.list__item:nth-child(even) {
  background-color: $color-accent-medium;
}

.list__key {
  display: block;
  min-width: 80px;
}

.list__value {
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

@media #{$large} {
  .list__item {
    flex-basis: calc(50% - #{$margin-small});
  }

  .list__item:nth-child(even) {
    margin-left: $margin-standard;
  }

  .list__item:nth-child(4n+1) {
    background-color: $color-accent-dark;
  }

  .list__item:nth-child(4n+2) {
    background-color: $color-accent-dark;
  }

  .list__item:nth-child(4n+3) {
    background-color: $color-accent-medium;
  }

  .list__item:nth-child(4n+4) {
    background-color: $color-accent-medium;
  }
}
